.title_color {
  color: #d121b4;
}

.inputbox {
  border: 0;
  outline: 0;
  border-bottom: 2px solid #000000;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.icon {
  border: 0;
  outline: 0;
}

.container{
  height: fit-content;
  width: 1000px;
}


img{
  height : 500px;
  display: flex;
  width: 500px;
  margin-top: auto;
  margin-left: 300px;

}
